<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value="TestName" />
    <add key="Version" value="12" />
    <add key="Environment" value="test" />
    <add key="Endpoint" value="http://localhost/test" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultDB" connectionString="something here" />
  </connectionStrings>
</configuration>
