<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SomeProperty0" value="0" />
    <add key="SomeProperty1" value="1" />
    <add key="SomeProperty2" value="2" />
    <add key="SomeProperty3" value="3" />
    <add key="SomeProperty4" value="4" />
    <add key="SomeProperty5" value="5" />
    <add key="SomeProperty6" value="6" />
    <add key="SomeProperty7" value="7" />
    <add key="SomeProperty8" value="8" />
    <add key="SomeProperty9" value="9" />
    <add key="SomeProperty10" value="10" />
    <add key="SomeProperty11" value="11" />
    <add key="SomeProperty12" value="12" />
    <add key="SomeProperty13" value="13" />
    <add key="SomeProperty14" value="14" />
    <add key="SomeProperty15" value="15" />
    <add key="SomeProperty16" value="16" />
    <add key="SomeProperty17" value="17" />
    <add key="SomeProperty18" value="18" />
    <add key="SomeProperty19" value="19" />
    <add key="SomeProperty20" value="20" />
    <add key="SomeProperty21" value="21" />
    <add key="SomeProperty22" value="22" />
    <add key="SomeProperty23" value="23" />
    <add key="SomeProperty24" value="24" />
    <add key="SomeProperty25" value="25" />
    <add key="SomeProperty26" value="26" />
    <add key="SomeProperty27" value="27" />
    <add key="SomeProperty28" value="28" />
    <add key="SomeProperty29" value="29" />
    <add key="SomeProperty30" value="30" />
    <add key="SomeProperty31" value="31" />
    <add key="SomeProperty32" value="32" />
    <add key="SomeProperty33" value="33" />
    <add key="SomeProperty34" value="34" />
    <add key="SomeProperty35" value="35" />
    <add key="SomeProperty36" value="36" />
    <add key="SomeProperty37" value="37" />
    <add key="SomeProperty38" value="38" />
    <add key="SomeProperty39" value="39" />
    <add key="SomeProperty40" value="40" />
    <add key="SomeProperty41" value="41" />
    <add key="SomeProperty42" value="42" />
    <add key="SomeProperty43" value="43" />
    <add key="SomeProperty44" value="44" />
    <add key="SomeProperty45" value="45" />
    <add key="SomeProperty46" value="46" />
    <add key="SomeProperty47" value="47" />
    <add key="SomeProperty48" value="48" />
    <add key="SomeProperty49" value="49" />
    <add key="SomeProperty50" value="50" />
    <add key="SomeProperty51" value="51" />
    <add key="SomeProperty52" value="52" />
    <add key="SomeProperty53" value="53" />
    <add key="SomeProperty54" value="54" />
    <add key="SomeProperty55" value="55" />
    <add key="SomeProperty56" value="56" />
    <add key="SomeProperty57" value="57" />
    <add key="SomeProperty58" value="58" />
    <add key="SomeProperty59" value="59" />
    <add key="SomeProperty60" value="60" />
    <add key="SomeProperty61" value="61" />
    <add key="SomeProperty62" value="62" />
    <add key="SomeProperty63" value="63" />
    <add key="SomeProperty64" value="64" />
    <add key="SomeProperty65" value="65" />
    <add key="SomeProperty66" value="66" />
    <add key="SomeProperty67" value="67" />
    <add key="SomeProperty68" value="68" />
    <add key="SomeProperty69" value="69" />
    <add key="SomeProperty70" value="70" />
    <add key="SomeProperty71" value="71" />
    <add key="SomeProperty72" value="72" />
    <add key="SomeProperty73" value="73" />
    <add key="SomeProperty74" value="74" />
    <add key="SomeProperty75" value="75" />
    <add key="SomeProperty76" value="76" />
    <add key="SomeProperty77" value="77" />
    <add key="SomeProperty78" value="78" />
    <add key="SomeProperty79" value="79" />
    <add key="SomeProperty80" value="80" />
    <add key="SomeProperty81" value="81" />
    <add key="SomeProperty82" value="82" />
    <add key="SomeProperty83" value="83" />
    <add key="SomeProperty84" value="84" />
    <add key="SomeProperty85" value="85" />
    <add key="SomeProperty86" value="86" />
    <add key="SomeProperty87" value="87" />
    <add key="SomeProperty88" value="88" />
    <add key="SomeProperty89" value="89" />
    <add key="SomeProperty90" value="90" />
    <add key="SomeProperty91" value="91" />
    <add key="SomeProperty92" value="92" />
    <add key="SomeProperty93" value="93" />
    <add key="SomeProperty94" value="94" />
    <add key="SomeProperty95" value="95" />
    <add key="SomeProperty96" value="96" />
    <add key="SomeProperty97" value="97" />
    <add key="SomeProperty98" value="98" />
    <add key="SomeProperty99" value="99" />
    <add key="SomeProperty100" value="100" />
    <add key="SomeProperty101" value="101" />
    <add key="SomeProperty102" value="102" />
    <add key="SomeProperty103" value="103" />
    <add key="SomeProperty104" value="104" />
    <add key="SomeProperty105" value="105" />
    <add key="SomeProperty106" value="106" />
    <add key="SomeProperty107" value="107" />
    <add key="SomeProperty108" value="108" />
    <add key="SomeProperty109" value="109" />
    <add key="SomeProperty110" value="110" />
    <add key="SomeProperty111" value="111" />
    <add key="SomeProperty112" value="112" />
    <add key="SomeProperty113" value="113" />
    <add key="SomeProperty114" value="114" />
    <add key="SomeProperty115" value="115" />
    <add key="SomeProperty116" value="116" />
    <add key="SomeProperty117" value="117" />
    <add key="SomeProperty118" value="118" />
    <add key="SomeProperty119" value="119" />
    <add key="SomeProperty120" value="120" />
    <add key="SomeProperty121" value="121" />
    <add key="SomeProperty122" value="122" />
    <add key="SomeProperty123" value="123" />
    <add key="SomeProperty124" value="124" />
    <add key="SomeProperty125" value="125" />
    <add key="SomeProperty126" value="126" />
    <add key="SomeProperty127" value="127" />
    <add key="SomeProperty128" value="128" />
    <add key="SomeProperty129" value="129" />
    <add key="SomeProperty130" value="130" />
    <add key="SomeProperty131" value="131" />
    <add key="SomeProperty132" value="132" />
    <add key="SomeProperty133" value="133" />
    <add key="SomeProperty134" value="134" />
    <add key="SomeProperty135" value="135" />
    <add key="SomeProperty136" value="136" />
    <add key="SomeProperty137" value="137" />
    <add key="SomeProperty138" value="138" />
    <add key="SomeProperty139" value="139" />
    <add key="SomeProperty140" value="140" />
    <add key="SomeProperty141" value="141" />
    <add key="SomeProperty142" value="142" />
    <add key="SomeProperty143" value="143" />
    <add key="SomeProperty144" value="144" />
    <add key="SomeProperty145" value="145" />
    <add key="SomeProperty146" value="146" />
    <add key="SomeProperty147" value="147" />
    <add key="SomeProperty148" value="148" />
    <add key="SomeProperty149" value="149" />
    <add key="SomeProperty150" value="150" />
    <add key="SomeProperty151" value="151" />
    <add key="SomeProperty152" value="152" />
    <add key="SomeProperty153" value="153" />
    <add key="SomeProperty154" value="154" />
    <add key="SomeProperty155" value="155" />
    <add key="SomeProperty156" value="156" />
    <add key="SomeProperty157" value="157" />
    <add key="SomeProperty158" value="158" />
    <add key="SomeProperty159" value="159" />
    <add key="SomeProperty160" value="160" />
    <add key="SomeProperty161" value="161" />
    <add key="SomeProperty162" value="162" />
    <add key="SomeProperty163" value="163" />
    <add key="SomeProperty164" value="164" />
    <add key="SomeProperty165" value="165" />
    <add key="SomeProperty166" value="166" />
    <add key="SomeProperty167" value="167" />
    <add key="SomeProperty168" value="168" />
    <add key="SomeProperty169" value="169" />
    <add key="SomeProperty170" value="170" />
    <add key="SomeProperty171" value="171" />
    <add key="SomeProperty172" value="172" />
    <add key="SomeProperty173" value="173" />
    <add key="SomeProperty174" value="174" />
    <add key="SomeProperty175" value="175" />
    <add key="SomeProperty176" value="176" />
    <add key="SomeProperty177" value="177" />
    <add key="SomeProperty178" value="178" />
    <add key="SomeProperty179" value="179" />
    <add key="SomeProperty180" value="180" />
    <add key="SomeProperty181" value="181" />
    <add key="SomeProperty182" value="182" />
    <add key="SomeProperty183" value="183" />
    <add key="SomeProperty184" value="184" />
    <add key="SomeProperty185" value="185" />
    <add key="SomeProperty186" value="186" />
    <add key="SomeProperty187" value="187" />
    <add key="SomeProperty188" value="188" />
    <add key="SomeProperty189" value="189" />
    <add key="SomeProperty190" value="190" />
    <add key="SomeProperty191" value="191" />
    <add key="SomeProperty192" value="192" />
    <add key="SomeProperty193" value="193" />
    <add key="SomeProperty194" value="194" />
    <add key="SomeProperty195" value="195" />
    <add key="SomeProperty196" value="196" />
    <add key="SomeProperty197" value="197" />
    <add key="SomeProperty198" value="198" />
    <add key="SomeProperty199" value="199" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>